#hdr {
    height: 40px;
    background-color: black;
    color:white;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#titulo {

    max-height: 80px;
    background-color:whitesmoke;
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: Serif;
}

.fotodescr{
    width: 100%;
    height: 200px;
    display: flex;
    overflow-y: auto;

}

.seccion {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cursive;
    font-size: 25px;
    color: white;
}

.SeccionPrincipal{
    width: 100%;
    height: 250px;
    display: flex;
    overflow-y: auto;
    background-color: #248f8f;

}


.contprincipalA {
    width: 120px;
    height: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Cursive;
    font-size: 20px;
    color: white;
}

.contprincipalB {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Cursive;
    font-size: 20px;
    color: white;
    background-color: #2eb8b8;
}

.contprincipalC {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Cursive;
    font-size: 20px;
    color: white;
    background-color: #47d1d1;
}

